@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  text-decoration: none;
}

:root {
  --primaryColor:
  --fontColor: #1a1a1a;
  --hoverColor: #088178;
  --backgroundColor: #e3e6f3;
  --hColor: #222;
}

/* Default settings Start */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--hColor);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--hColor);
}

h4 {
  font-size: 20px;
  color: var(--hColor);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

.sectionPadding {
  padding: 40px 80px;
}

.sectionMargin {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

/* Default settings End */
body {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
header .logo {
  width: 150px;
}
header #navBar {
  display: flex;
  align-items: center;
  justify-content: center;
}
header #navBar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
header #navBar li a {
  font-size: 16px;
  font-weight: 600;
  color: var(--fontColor);
  transition: 0.3s ease;
}
header #navBar li a:hover, header #navBar li a.active {
  color: var(--hoverColor);
}
header #navBar li a:hover:after, header #navBar li a.active:after {
  content: "";
  width: 30%;
  height: 2px;
  background: var(--hoverColor);
  position: absolute;
  bottom: -4px;
  left: 20px;
}
header #navBar #close {
  display: none;
}
header #mobile {
  display: none;
  align-items: center;
}

/* Home Page Section */
#hero {
  background-image: url("/img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: var(--hoverColor);
}
#hero button {
  background-image: url(/img/button.png);
  background-color: transparent;
  color: var(--hoverColor);
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .featureBox {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .featureBox:hover {
  box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.02);
}
#feature .featureBox img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .featureBox h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: var(--hoverColor);
  background-color: #d1e8f2;
}
#feature .featureBox:nth-child(2) h6 {
  background-color: #fddde4;
}
#feature .featureBox:nth-child(3) h6 {
  background-color: #cdebbc;
}
#feature .featureBox:nth-child(4) h6 {
  background-color: #badfef;
}
#feature .featureBox:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .featureBox:nth-child(6) h6 {
  background-color: #fff2e5;
}

#featureProducts {
  text-align: center;
}
#featureProducts .productContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#featureProducts .product {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.03s ease;
  position: relative;
}
#featureProducts .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#featureProducts .product img {
  width: 100%;
  border-radius: 20px;
}
#featureProducts .product .description {
  text-align: start;
  padding: 10px 0;
}
#featureProducts .product .description span {
  color: #606063;
  font-size: 12px;
}
#featureProducts .product .description h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}
#featureProducts .product .description i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}
#featureProducts .product .description h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: var(--hoverColor);
}
#featureProducts .product .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #e8f6ea;
  font-weight: 500;
  color: var(--hoverColor);
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fff;
  font-size: 16px;
}
#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: red;
}
#banner button:hover {
  background-color: var(--hoverColor);
  color: #fff;
}

#banner2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#banner2 .bannerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/img/banner/b17.jpg);
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#banner2 .bannerBox h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#banner2 .bannerBox h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#banner2 .bannerBox span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 15px;
}
#banner2 .bannerBox:hover button {
  background-color: var(--hoverColor);
  color: #fff;
  border: 1px solid var(--hoverColor);
}
#banner2 .bannerBox2 {
  background-image: url(/img/banner/b10.jpg);
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .bannerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(/img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .bannerBox h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 .bannerBox h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}
#banner3 .bannerBox2 {
  background-image: url(/img/banner/b4.jpg);
}
#banner3 .bannerBox3 {
  background-image: url(/img/banner/b18.jpg);
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(/img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: var(--hoverColor);
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}
footer .col .logo {
  margin-bottom: 30px;
}
footer .col h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer .col p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer .col a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .col a:hover {
  color: var(--hoverColor);
}
footer .col .follow {
  margin-top: 20px;
}
footer .col .follow i {
  color: #465b52;
  padding-right: 4px;
  font-size: 20px;
  cursor: pointer;
}
footer .col .follow i:hover {
  color: var(--hoverColor);
}
footer .install .row img {
  border: 1px solid var(--hoverColor);
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* Shop Page Section */
#pageHeader {
  background-image: url(/img/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#pageHeader h2, #pageHeader p {
  color: #fff;
}

#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: var(--hoverColor);
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* singleProduct Page Section */
#productDetails {
  display: flex;
  margin-top: 20px;
}
#productDetails .singleProductImage {
  width: 40%;
  margin-right: 50px;
}
#productDetails .singleProductImage .smallImageContainer {
  display: flex;
  justify-content: space-between;
}
#productDetails .singleProductImage .smallImageContainer .smallImageItem {
  flex-basis: 24%;
  cursor: pointer;
}
#productDetails .singleProductDetails {
  width: 50%;
  padding-top: 30px;
}
#productDetails .singleProductDetails h4 {
  padding: 40px 0 20px 0;
}
#productDetails .singleProductDetails h2 {
  font-size: 26px;
}
#productDetails .singleProductDetails select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#productDetails .singleProductDetails input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#productDetails .singleProductDetails input:focus {
  outline: none;
}
#productDetails .singleProductDetails button {
  background-color: var(--hoverColor);
  color: #fff;
}
#productDetails .singleProductDetails span {
  line-height: 25px;
}

/* Blog Page Section */
#pageHeader.blogHeader {
  background-image: url(/img/banner/b19.jpg);
}

#blog {
  padding: 150px 150px 0 150px;
}
#blog .blogBox {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}
#blog .blogBox .blogImage {
  width: 50%;
  margin-right: 40px;
}
#blog .blogBox .blogImage img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog .blogBox .blogDetails {
  width: 50%;
}
#blog .blogBox .blogDetails a {
  font-size: 11px;
  font-weight: 700;
  color: #000;
  position: relative;
  transition: 0.3s;
}
#blog .blogBox .blogDetails a:after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}
#blog .blogBox .blogDetails a:hover {
  color: var(--hoverColor);
}
#blog .blogBox .blogDetails a:hover:after {
  background-color: var(--hoverColor);
}
#blog .blogBox h1 {
  position: absolute;
  top: -50px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -9;
}

/* About Page Section */
#pageHeader.aboutHeader {
  background-image: url(/img/about/banner.png);
}

#aboutHead {
  display: flex;
  align-items: center;
}
#aboutHead img {
  width: 50%;
  height: auto;
}
#aboutHead div {
  padding-left: 40px;
}

#aboutApp h1 {
  text-align: center;
}
#aboutApp .video {
  width: 70%;
  height: 100%;
  margin-top: 30px;
  margin: 30px auto 0 auto;
}
#aboutApp .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* Contact Us Page Section */
#contactDetails {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contactDetails .details {
  width: 40%;
}
#contactDetails .details span {
  font-size: 12px;
}
#contactDetails .details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contactDetails .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contactDetails .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contactDetails .details li i {
  font-size: 14px;
  padding-right: 15px;
}
#contactDetails .details li p {
  margin: 0;
  font-size: 14px;
}
#contactDetails .map {
  width: 55%;
  height: 400px;
}
#contactDetails .map iframe {
  width: 100%;
  height: 100%;
}

#formDetails {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}
#formDetails form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#formDetails form span {
  font-size: 12px;
}
#formDetails form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#formDetails form input,
#formDetails form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}
#formDetails form button {
  background-color: var(--hoverColor);
  color: #fff;
}
#formDetails .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#formDetails .people div img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}
#formDetails .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#formDetails .people div p span {
  font-size: 16px;
  font-weight: 600;
}

/* Cart Page Section */
#cart {
  overflow-x: auto;
}
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: wrap;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 18px 0;
}
#cart table tbody {
  font-size: 15px;
}
#cart table tbody tr td {
  padding-top: 50px;
}
#cart table tbody tr td img {
  width: 70px;
}
#cart table td {
  text-align: center;
}
#cart table td input {
  width: 60px;
  padding: 10px 5px 10px 15px;
}

#cartAdd {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#coupon {
  width: 50%;
  margin-bottom: 30px;
}
#coupon h3 {
  padding-bottom: 15px;
}
#coupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button {
  background-color: var(--hoverColor);
  color: #fff;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal h3 {
  padding: 15px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
#subtotal button {
  background-color: var(--hoverColor);
  color: #fff;
}

/*Media Query Home Page Start */
@media (max-width: 799px) {
  .sectionPadding {
    padding: 40px 40px;
  }
  header #navBar {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  header #navBar.active {
    right: 0px;
  }
  header #navBar li {
    margin-bottom: 25px;
  }
  header #mobile {
    display: flex;
    align-items: center;
  }
  header #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  header #close {
    display: initial !important;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  header #largeCart {
    display: none;
  }
  /* Home Page */
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .featureBox {
    margin: 15px;
  }
  #featureProducts .productContainer {
    justify-content: center;
  }
  #featureProducts .productContainer .product {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #banner2 .bannerBox {
    min-width: 100%;
    height: 30vh;
  }
  #banner2 .bannerBox2 {
    margin-top: 40px;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .bannerBox {
    width: 28%;
  }
  #newsletter .form {
    width: 70%;
  }
  /* Contact Page */
  #formDetails {
    padding: 40px;
  }
  #formDetails form {
    width: 50%;
  }
}
@media (max-width: 477px) {
  .sectionPadding {
    padding: 20px;
  }
  header {
    padding: 10px 30px;
  }
  /* Home page */
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #hero h2 {
    font-size: 32px;
  }
  #hero h1 {
    font-size: 38px;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .featureBox {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #featureProducts .product {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #banner2 .bannerBox {
    height: 40vh;
  }
  #banner2 .bannerBox2 {
    margin-top: 20px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .bannerBox {
    width: 100%;
  }
  #newsletter {
    padding: 40px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }
  /* singleProduct Page */
  #productDetails {
    display: flex;
    flex-direction: column;
  }
  #productDetails .singleProductImage {
    width: 100% !important;
    margin-right: 0px;
  }
  #productDetails .singleProductDetails {
    width: 100% !important;
  }
  /* Blog Page */
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blogBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blogBox .blogImage {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blogBox .blogDetails {
    width: 100%;
  }
  /* About Us Page */
  #aboutHead {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #aboutHead img {
    width: 100%;
    margin-bottom: 20px;
  }
  #aboutHead div {
    padding-left: 0px;
  }
  #aboutApp .video {
    width: 90%;
  }
  /* Contact Page */
  #contactDetails {
    flex-direction: column;
  }
  #contactDetails .details {
    width: 100%;
    margin-bottom: 30px;
  }
  #contactDetails .map {
    width: 100%;
  }
  #formDetails {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  #formDetails form {
    width: 100%;
    margin-bottom: 30px;
  }
  /* Cart Page */
  #cartAdd {
    flex-direction: column;
  }
  #cartAdd #coupon {
    width: 100%;
  }
  #cartAdd #coupon h3 {
    text-align: center;
  }
  #cartAdd #subtotal {
    width: 100%;
    padding: 20px;
  }
}
/*Media Query Home Page End*//*# sourceMappingURL=style.css.map */